@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap');

body, html {
    height:calc(100% - 2em);
    margin: 0;
    font-family:
    

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c539e+0,3f91e2+100,2c539e+100,2c539e+100 */
background: #2c539e; /* Old browsers */
background: -moz-linear-gradient(45deg, #2c539e 0%, #3f91e2 100%, #2c539e 100%, #2c539e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #2c539e 0%,#3f91e2 100%,#2c539e 100%,#2c539e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #2c539e 0%,#3f91e2 100%,#2c539e 100%,#2c539e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-repeat: no-repeat;
background-attachment: fixed;

}

aside {
    color: white;
    display: grid;
    grid-template-columns: auto 80px;
    padding: 2em;
}

img{
    width: 80px;
    cursor: pointer;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 1.5em;
    font-weight: bold;
}

nav {
    background:white;
}

.active {
    position: absolute;
    display: block;
    background:white;
    width: 30%;
    left: 0;
    top: 0;
    height: 100%;
}

ul{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    display: block;
    padding: 1.5em 3em;
    background-color: rgba(green,white, red, alpha);
    color: black;
}

main {
     background: white ;
     padding: 10em 5em;
}

h1 {
    margin:0;
}

p{
    font-size: 1.1em;
    line-height: 1.5em;
}

.cta{
    display: block;
    color: #fff;
    background: rgb(35, 35, 200);
    text-decoration: none;
    padding: 10px 50px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    margin: 2em 0;
}

@media only screen and (min-width: 768px) {

    body {
        display: grid;
        grid-template-columns: 20% auto;
        padding: 2em;
    }

    img{
        display: none;
    }

    aside{
        background: #005BF7;
        grid-template-columns: auto;
        grid-template-rows: 20% auto;
        padding: 0;
    }
    main{
        padding: 4em;
        background: white url('images/bg.svg') no-repeat bottom right;
        background-size: 110%;
    }
    #avatar {
        border-radius: 50%;
        background:#002060 url('blob/master/accanestri.svg') no-repeat bottom center;
        background-size: 150%;
        width: 70px;
        height: 70px;
        margin: 2em auto 1em auto;
    }

    figcaption {
        text-align: center;
        color: black;
    }

ul {
    display: block;
    margin-top: 2em;
    position: relative !important;
    background: none !important;
    width: 100% !important;
    }

    nav {
        background: none;
    }    

        .cta {
            display: inline-block;
            font-size: 1.3em;
            padding: .8em 3em;
        }

        h1 {
            font-size: 3em;
            margin-top: 2em;
        }

    p {
        font-size: 1.5em;
    }
}
